<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Resort Price</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Predict Resort Price</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
        <input type="text" name="accommodates" placeholder="Accommodates (1, 2, etc)" required="required" /><br>
    	  <input type="text" name="amenities" placeholder="Amenities (TV, Internet, etc)" required="required" /><br>
        <input type="text" name="bedrooms" placeholder="Bedrooms (1, 2, etc)" required="required" /><br>
        <input type="text" name="beds" placeholder="Beds (1, 2, etc)" required="required" /><br>
        <input type="text" name="bathrooms" placeholder="Bathrooms (1, 2 etc)" required="required" /><br>
        <input type="text" name="bed_type" placeholder="Bed Type (Real Bed etc)" required="required" /><br>
        <input type="text" name="cancellation_policy" placeholder="Cancellation Policy (flexible, moderate, strict)" required="required" /><br>
        <input type="text" name="property_type" placeholder="Property Type (House, Apartment, etc)" required="required" /><br>
        <input type="text" name="room_type" placeholder="Room Type (Private room, Entire home/apt, Shared room)" required="required" /><br>
        <input type="text" name="has_availability" placeholder="Has Availability (t/f)" required="required" /><br>
        <input type="text" name="host_is_superhost" placeholder="Host Is Superhost (t/f)" required="required" /><br>
        <input type="text" name="instant_bookable" placeholder="Instant Bookable (t/f)" required="required" /><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>


 </div>
 {{pred}}

</body>
</html>
